@define-mixin shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3), 0 0px 6px 1px rgba(0, 0, 0, .05);
}
@define-mixin focus-shadow {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .5);
}
.shadow {
  @mixin shadow;
}
.focus-shadow {
  @mixin focus-shadow;
}
